* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;

}

#capitales .container{
    height: 60%;
    width: 40%;
    margin: auto;
    margin-top: 10%;
}

#capitales .container .quest{
    width: 60%;
}

.container .quest {
    width: 30%;
    margin: auto;
    margin-top: 50px;
}

.container h3,
p {
    color: black;
}

#listeReponses ul {
    width: 30%;
}

#listeReponses li {
    color: black;
    list-style: none;
    margin: auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    background-color: #ffffff;
    color: #777;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #55a5ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    padding: 10px;
    color: black;
}

.bg {
    background-image: url("../img/bground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    background-color: #2d084a;
    padding: 30px;
    text-align: center;
}

nav ul {
    list-style: none;
    align-items: left;
    justify-content: left;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

nav a {
    color: white ;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: #000;
}

#DrapeauDuPays {
    height: 300px;
    width: 600px;
    margin: auto;
    display: block;
}

.card-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: 64px 24px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 1200px;
    width: 100%;
}

.card {
    list-style: none;
    position: relative;
}


.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card-bg {
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card-bg {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card-bg {
    filter: brightness(1) saturate(0.7) contrast(1.2) blur(10px);
}

.card-content {
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
}

.card_niveau {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.card-titre {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
}

.card-text {
    display: none;
    color: white;
    font-size: 16px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.card:hover .card-text {
    display: block;
    transform: translateY(0);
}


/* Styles pour les boutons de sélection de niveau */
#levelSelection {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    gap: 5%;
}

.level-button {
    display: inline-block;
    width: calc(80% / 3);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 35vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.level-button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


#drapeaux button:nth-of-type(1) {
    background-image: url("https://img.geonames.org/flags/x/ar.gif");
}

#drapeaux button:nth-of-type(2) {
    background-image: url("https://img.geonames.org/flags/x/kz.gif");
}

#drapeaux button:nth-of-type(3) {
    background-image: url("https://img.geonames.org/flags/x/im.gif");
}


#capitales button:nth-of-type(1) {
    background-image: url("https://res.klook.com/image/upload/Mobile/City/afmqgg5h0jl9wnr1dfmf.jpg");
}

#capitales button:nth-of-type(2) {
    background-image: url("https://www.ou-et-quand.net/partir/images/illustration/dublin_756.jpg");
}

#capitales button:nth-of-type(3) {
    background-image: url("https://media.routard.com/image/77/8/la-valette-malte-capitale.1542778.jpeg");
}


#drapeaux {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1150&q=80");
}

#capitales{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1600907055749-d6cc7e75efd4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
}