@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #0F172A;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

#home {
    background-color: #0F172A;
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

#frontieres .container {
    display: block;
}

#formes .container {
    display: block;
}

/* #frontieres{
    background-color:#0F172A;
}*/
h2,
h3 {
    color: white;
}

#formes {
    background-color: #0F172A;
}

/*
#habitants{
    background-color:#0F172A;
} */

#capitales .container {
    height: 60%;
    width: 40%;
    margin: auto;
    margin-top: 10%;
}

#capitales .container .quest {
    width: 60%;
}

.container .quest {
    width: 30%;
    margin: auto;
    margin-top: 25px;
}

#listeReponses ul {
    width: 30%;
}

#listeReponses li {
    color: white;
    list-style: none;
    margin: auto;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;

    background-color: #ffffff;
    color: #777;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.btn {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #55a5ff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-valider {
    background-color: rgb(68, 185, 68);
}

.btn-passer {
    background-color: red;
}

.message {
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.bg {
    /* background-image: url("../img/bground.jpeg");
     */
    background-color: #0F172A;
    ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#nav-titre {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

nav {
    background-color: #0e2543;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #0e2543;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    align-items: left;
    justify-content: left;
    display: flex;
    gap: 5px;
    margin-right: 10px;
    font-weight: 600;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: #000;
}

.dle {
    color: rgb(153, 255, 90);
}

#jw {
    width: 40px;
    clip-path: inset(0);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#jw:hover {
    opacity: 1;
}

#DrapeauDuPays {
    height: 300px;
    width: auto;
    margin: auto;
    display: block;
    margin-bottom: -1px;
}

#formes #formeImage {
    height: 300px;
    width: auto;
    margin: auto;
    filter: invert(1);
    /*on inverse les couleurs */
}

.card-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: 64px 24px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    /* max-width: 1200px; */
    width: 90%;
}

.card {
    list-style: none;
    position: relative;
}


.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card-bg {
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card-bg {
    transform: scale(1.05) translateZ(0);
}

/*ici à reprendre car je veux que ttes les cartes soient floutées
le probleme ici c'est que ~ indique seulement les freres suivants de la carte survolée...*/
.card:hover~.card:not(:hover) .card-bg {
    filter: brightness(1) saturate(0.7) contrast(1.2) blur(10px);
}


.card-content {
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
}

.card_niveau {
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 800;
}

.card-titre {
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    line-height: 1.4;
}

.card-text {
    display: none;
    color: white;
    font-size: 16px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.card:hover .card-text {
    display: block;
    transform: translateY(0);
}


/* Styles pour les boutons de sélection de niveau */
#levelSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-button {
    display: inline-block;
    /* width: calc(80% / 3); */
    width: 60%;
    padding: 8px 16px;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: rgb(69, 236, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: calc(80vh / 3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 2vh;
    font-family: Lobster, Georgia, serif;
}

#btn-normal:hover {
    background-color: #94c53f; 
    filter: none !important;
}

#capitales #btn-normal:hover {
    color: #94c53f;  
}

#btn-difficile:hover {
    background-color: #FF0000;
    filter: none !important;
}

#capitales #btn-difficile:hover {
    color: #FF0000;   
}

#btn-impossible:hover {
    background-color: #8a2be2;
    filter: none !important;
}

#capitales #btn-impossible:hover {
    color: #8a2be2;   
}


.level-button:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    /* background-color: #efffcd;  */
}

/* #drapeaux #levelSelection button{
    background-size: cover;
} */

 /* #drapeaux #levelSelection button:nth-of-type(1) {
    background-image: url("https://img.geonames.org/flags/x/ar.gif");
}

#drapeaux #levelSelection button:nth-of-type(2) {
    background-image: url("https://img.geonames.org/flags/x/kz.gif");
}

#drapeaux #levelSelection button:nth-of-type(3) {
    background-image: url("https://img.geonames.org/flags/x/im.gif");
}   */


 #capitales #levelSelection button:nth-of-type(1) {
    background-image: url("https://res.klook.com/image/upload/Mobile/City/afmqgg5h0jl9wnr1dfmf.jpg");
    filter: grayscale(100%);
}

#capitales #levelSelection button:nth-of-type(2) {
    background-image: url("https://www.ou-et-quand.net/partir/images/illustration/dublin_756.jpg");
    filter: grayscale(100%);
}

#capitales #levelSelection button:nth-of-type(3) {
    background-image: url("https://media.routard.com/image/77/8/la-valette-malte-capitale.1542778.jpeg");
    filter: grayscale(100%);
} 


/* boutons hahitants */
#habSelection {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.hab-button {
    display: inline-block;
    width: calc(80% / 3);
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* color: white; */
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 35vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}


.hab-button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}



#drapeaux {
    margin-bottom: -1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url("../img/bground.jpeg"); */
    /* background-image: url("https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1150&q=80"); */
}

#capitales {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url("../img/bground.jpeg"); */
    /* background-image: url("https://images.unsplash.com/photo-1600907055749-d6cc7e75efd4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80"); */
}

#habitants #levelSelection {
    margin-top: 0;
}

#habitants h2 {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
}

#score {
    color: white;
}


footer {
    margin-top: 400px;
    flex-shrink: 0;
    border-top: 1px solid black;
    width: 100%;
    background-color: #0e2543;
    color: white;
}

.contenu-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

#tag {
    font-weight: bold;
    color: white;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

.footer-contact h3,
.footer-lejeu h3,
.footer-informations h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact ul {
    list-style-type: none;
}

.footer-contact a {
    text-decoration: none;
    color: white;
}

.liste-modes,
.liste-informations {
    list-style-type: none;
}

.liste-informations a {
    text-decoration: none;
    color: white;
}

.liste-informations li:nth-child(2),
.liste-informations li:nth-child(3) {
    margin-top: 10px;
}

.liste-modes li {
    padding: 2px 0;
}

.liste-modes a {
    text-decoration: none;
    color: white;
}

.liste-contacts a:hover {
    color: rgb(3, 3, 3);
}

.liste-informations a:hover {
    color: rgb(3, 3, 3);
}

.liste-modes a:hover {
    color: rgb(3, 3, 3);
}

.bloc3 {
    width: 60%;
    text-align: justify;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}


.indice {
    display: none;
}

.btn.indice {
    padding: 5px;
    border-radius: 0;
}

.level-button,
img,
.hab-button {
    clip-path: inset(6px);
    /*permet de rogner pour ne pas avoir les contours mal faits*/
}


.chrono {
    margin-top: 1vh;
    height: 20vh;
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rebours {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}