@media screen and (max-width:1300px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
    .card-section{
        align-items: center;
    }
}

@media screen and (max-width:760px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:540px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:760px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nav-titre{
        margin-left: 12px;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    nav a {
        margin: 5px;
        padding: 8px 16px;
        font-size: 18px;
    }
}

@media screen and (max-width:760px) {

    #levelSelection, #habSelection {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .level-button, .hab-button {
        width: 80%;
        margin-bottom: 5%;
        height: 100%;
        height: 18vh;
    }

    .container img{
        width: 90%;
    }

    .container .quest {
        width: 80%;
    }

    #formes #formesImage {
        width: auto;
    }

    #capitales .container{
        width: 100%;
    }
}

/*footer*/

@media screen and (max-width: 1300px) {

    footer{
        margin-top: 250px;
    }

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }

    .bloc {
        width: 40%;
        margin: 0 0;
    }

    .bloc3{
        width: 80%;
    }

    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 800px) {

    .contenu-footer {
        width: 80%;/*320*/
    }

    .bloc {
        width: 80%;/*300*/
        margin: 30px 30px;
    }

    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }

    .bloc:nth-child(1) {
        margin-top: 0;
    }

    footer {
        margin-top: 1600px;
        margin-top: 600px;
    }
}

@media screen and (max-width:600px){
    footer{
        margin-top: 1800px;
    }
}

@media screen and (max-width:550px){
    footer{
        margin-top: 2400px;
    }
}
  
  @media screen and (max-width: 600px) {
    footer {
      margin-top: 800px;
    }
  }
  
  @media screen and (max-width: 550px) {
    footer {
      margin-top: 1800px;
    }
  }

  /* fin footer */